//
// HEADER
//

$header-height: 40px;
$header-paddings: 10px;
$header-color-background: #feffc5;
$header-color-font: #afab37;

//
// PANEL
//

$panel-color-status-todo: #FF0000;
$panel-color-status-progress: #999999;
$panel-color-status-done: #33AA33;
