@import 'settings';

#hotfix-panel {
    .hotfix-list {
        .row {
            margin: 5px 0;
            padding: 2px 0;

            &.hotfix-todo {
                .name {
                    border-left: 2px solid $panel-color-status-todo;
                }
                .status {
                    color: $panel-color-status-todo;
                }
            }
            &.hotfix-done {
                .name {
                    border-left: 2px solid $panel-color-status-done;
                }
                .status {
                    color: $panel-color-status-done;
                }
            }
            &.hotfix-progress {
                .name {
                    border-left: 2px solid $panel-color-status-progress;
                }
                .status {
                    color: $panel-color-status-progress;
                }
            }
        }
    }
}
