@import 'settings';

#hotfix-header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 19;
    height: $header-height;
    padding: {
        top: $header-paddings;
        left: $header-paddings;
        right: $header-paddings;
    }
    background: $header-color-background;
    color: $header-color-font;

    line-height: $header-height - (2 * $header-paddings);
    vertical-align: middle;

    a {
        font-weight: bold;
        text-decoration: none;
        color: $header-color-font;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

// Backoffice CSS overload
body, #header_infos, .bootstrap .page-head {
    margin-top: $header-height !important;
}
